$themes: (
  light: (
    textColor: #25284f,
    labelsColor: #25284f,
    backgroundColor: #dbedf4,
    backgroundUrl: url('../images/lightBackground.png'),
    logoBackground: rgba(219, 237, 244, 0.1),
  ),
  dark: (
    textColor: #dbedf4,
    labelsColor: #dbedf4,
    backgroundColor: #25284f,
    backgroundUrl: url('../images/darkBackground.png'),
    // backgroundUrl: url('../images/background.jpg'),
    logoBackground: rgba(219, 237, 244, 0.5),
  ),
);

@mixin themify($themes) {

  @each $theme,
  $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;

      @each $key,
      $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map,
          ($key: $value,
          )) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}