@import './vars';

.ahhsn-bio {
  padding: 10vmax 5vmax;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  place-items: center;

  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;

  @include themify($themes) {
    background: themed('backgroundColor');
  }

  * {
    max-width: 600px;
  }
}