@import './vars';

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 4px;
    padding: 1vmax;
    padding-top: 3vmax;
    margin-bottom: 3vmin;
    z-index: 99;
    border-radius: 1.5vmax;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    position: relative;

    @include themify($themes) {
        background: themed('logoBackground');
    }

    img {
        width: 30vmax;
        height: auto;
        margin-bottom: 1vmin;
    }


}