@import './vars';

.my-link {
  border: 0.2vmax solid;
  backdrop-filter: blur(0.5vmax);
  @include themify($themes) {
    border-color: themed('labelsColor');
  }

  display: flex;
  padding: 1vmax 3vmax;
  margin-bottom: 1vmax;
  border-radius: 1.5vmax;
  text-decoration: none;
  transition: transform 250ms;
  width: 100%;

  &:hover {
    transform: scale(1.025);
  }

  .fa-icons {
    font-size: 2.5vmax;

    @include themify($themes) {
      color: themed('textColor');
    }
  }

  span {
    margin: auto;

    @include themify($themes) {
      color: themed('textColor');
    }

    font-size: 2vmin;
    font-weight: bold;
  }
}