@import './vars';

.search-bar {
  width: 100%;
  margin-bottom: 5vmin;
  text-align: center;
  position: relative;

  h4 {
    font-size: 1.65vmax;
    margin: 8px;
    margin-bottom: 3vmax;

    @include themify($themes) {
      color: themed('textColor');
    }
  }

  .search-input {
    border-radius: 1.5vmax;
    width: 100%;
    height: 5vmax;
    text-align: center;
    font-weight: bold;

    @include themify($themes) {
      border-color: themed('labelsColor');
    }

    font-size: 1.5vmax;
    background-color: transparent;

    @include themify($themes) {}

    &:focus+span {
      transform: translatey(-250%);

      @include themify($themes) {
        color: themed('labelsColor');
      }
    }
  }

  .fa-search {
    position: absolute;

    @include themify($themes) {
      color: themed('textColor');
    }

    font-size: 2vmax;
    top: 76%;
    right: 2.5vmax;
    transform: translateY(-50%);

    &:hover {
      cursor: pointer;
    }
  }

  span {
    position: absolute;
    width: 100%;
    left: 0;
    top: 69%;
    font-size: 1vmax;
    font-weight: bold;
    pointer-events: none;
    transition: transform 250ms, color 250ms;

    @include themify($themes) {
      color: themed('textColor');
    }
  }

}