@import './vars';

.social-links{
    // width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;

    .link{
        transition: transform 250ms;

        &:hover {
            transform: scale(1.2);
          }
        .fa-icons{
            font-size: 2.5vmax;
            @include themify($themes) {
                color: themed('textColor');
              }
        }
    }
}